  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



<header class="site-navbar fixed-top py-0" role="banner">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6 col-xl-2" data-aos="fade-down">
        <h1 class="mb-0"><a href="index.html" class="text-white h4 mb-0">cxgetz</a></h1>
      </div>

				
      <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
        <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
          <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
            <li class="active"><a href="index.html">Home</a></li>
            <li class="has-children">
              <a href="single.html">Gallery</a>
              <ul class="dropdown">
                <li><a href="#">Nature</a></li>
                <li><a href="#">Portrait</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Animals</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Travel</a></li>
              </ul>
            </li>
			
			<li class="has-children">
              <a href="single.html">Tools</a>
              <ul class="dropdown">
                <li class="has-children">
              <a href="single.html">Minify</a>
              <ul class="dropdown">
                <li><a href="#">Css Minifer</a></li>
                <li><a href="#">Html Minifer</a></li>
                <li><a href="#">JS Minifer</a></li>
                <li><a href="#">Text Minifer</a></li>
                <li><a href="#">Xml Minifer</a></li>
                <li><a href="#">Json Minifer</a></li>
                <li><a href="#">Lua Minifer</a></li>
              </ul>
            </li>
                <li class="has-children">
              <a href="single.html">Collection</a>
              <ul class="dropdown">
                <li><a href="#">Text Rainbow</a></li>
                <li><a href="#">Image to ASCII Art</a></li>
                <li><a href="#">Image Favicon</a></li>
                <li><a href="#">Image Crop</a></li>
                <li><a href="#">Web responsive Tester</a></li>
                <li><a href="#">Calculaor usia</a></li>
                <li><a href="#">Bangun Ruang</a></li>
				<li><a href="#">Elektronik</a></li>
              </ul>
            </li>
                <li class="has-children">
              <a href="single.html">Base64 Tools</a>
              <ul class="dropdown">
                <li><a href="#">Image to Base64</a></li>
                <li><a href="#">SVG to Base64</a></li>
                <li><a href="#">Gif to Base64</a></li>
                <li><a href="#">PNG to Base64</a></li>
                <li><a href="#">Text to Base64</a></li>
                <li><a href="#">Js to base64</a></li>
                <li><a href="#">HTML to Base64</a></li>

              </ul>
            </li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Animals</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Travel</a></li>
              </ul>
            </li>
			
			
			
			
            <li><a href="services.html">Services</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
        <div class="d-none d-xl-inline-block">
          <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
            <li><a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a></li>
            <li><a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a></li>
            <li><a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a></li>
            <li><a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a></li>
          </ul>
        </div>

        <!-- Tombol Hamburger untuk Mobile -->
        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3">
          <a href="#" class="site-menu-toggle js-menu-toggle text-white">
            <span class="icon-menu h3"></span>
          </a>
        </div>
      </div>

    </div>
  </div>
</header>
