<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/fonts/icomoon/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/magnific-popup.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/jquery-ui.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/lightgallery.min.css">    
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/swiper.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/aos.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>